// Place all the styles related to the newPros controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	background-repeat:no-repeat;
  background-image:url('http://consultware.mx:3000/assets/demo_bck.jpg');
  background-size:cover; 
}
html {
overflow:hidden;
}